[supervisord]
logfile=/var/log/supervisord/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile=/var/run/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200
directory=/tmp

[include]
files = /etc/supervisor/conf.d/*.conf

[program:freedium_reddit_bot_comments]
command=python comments.py
directory=/home/user/freedium-reddit-bot
autostart=true
autorestart=true
stderr_logfile=/var/log/freedium_reddit_bot_comments.err.log
stdout_logfile=/var/log/freedium_reddit_bot_comments.out.log

[program:freedium_reddit_bot_submissions]
command=python submissions.py
directory=/home/user/freedium-reddit-bot
autostart=true
autorestart=true
stderr_logfile=/var/log/freedium_reddit_bot_submissions.err.log
stdout_logfile=/var/log/freedium_reddit_bot_submissions.out.log